/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
h1,h2{
  text-align: center;
}
.player_one, .player_two{
	background-color:white;
}
div.player_two {
	text-align: center;
}
a:link {
      text-decoration: none;
	  color: black;
}
ul{
	list-style-type: none;  
}
	
}